/* CSS RESET és alapok */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
}

body, html {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    background-color: #E5E5E5;
    color: white;
}

/* CSS RESET és alapok */

/* Container */

.container{
    width: max-content;
    margin: 0 auto;
}

header{
    width: 100vw;
    background: #006633;
    font-size: 1.6rem;
}

nav{
    display: flex;
    padding-top: 4px;
    padding-bottom: 4px;
    align-items: center;
}

ol{
    display: flex;
}

/* Container */


/* nav */
nav{
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
}
/* nav */

/* left */

.header-nav-left{
    display: flex;
    align-items: center;
    gap: 22px;
    margin-left: 8px;
}

.logo img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 20px;
}

.menu{
    cursor: pointer;
}

/* left */

/* middle */

.header-nav-middle{
    display: none;
}

/* middle */

/* right */

.header-nav-right{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 18px;
    font-size: 2.4rem;
    margin-right: 8px;
}

.icon-elements{
    display: none;
}

.profile, .profile img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid #F2F2F2;
}

/* right */


/* !!!BOTTOM CONTAINER BELOW!!! */
/* !!!BOTTOM CONTAINER BELOW!!! */
/* !!!BOTTOM CONTAINER BELOW!!! */

.bottom-container{
    display: none;
}

/* Left Side */

.header-item{
    width: 72px;
    height: 72px;
    background-color: #55AE3A;
    border-radius: 50%;
    font-size: 4.8rem;
    position: relative;
}

.header-item>i, .header-item>img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-item>img{
    height: 48px;
}

/* Left Side */

/* Right Side */

.search-bar{
    position: relative;
    min-width: 300px;
}

.search-bar input{
    width: 100%;
    display: block;
    height: 80px;
    background-color: #B1DDC4;
    border-radius: 44px;
    font-size: 3.1rem;
    font-weight: 700;
    color: #006633;
    padding-left: 89px;
}

.search-bar input::placeholder{
    font-weight: 400;
    color: #55AE3A;
}

.search-icon{
    position: absolute;
    font-size: 4.6rem;
    color: #006633;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.search-bar::before{
    content: "";
    width: 0;
    height: 71.5px;
    left: 74px;
    top: 50%;
    transform: translateY(-50%);
    border-inline: 2px solid #fff;
    position: absolute;
}

.date{
    background-color: #B1DDC4;
    width: 268px;
    height: 62px;
    border-radius: 36px;
    color: #363636;
    font-size: 2rem;
    font-weight: 700;
}

.date-inside{
    width: 100%;
    height: 62px;
    position: relative;
}

span.date-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left-d-ar{
    left: 14px;
}

.left-ar{
    left: 36px;
}

.right-d-ar{
    right: 14px;
}

.right-ar{
    right: 36px;
}

/* Right Side */







/* Media Queries for Responsibility */

@media(min-width: 720px)
{

    header{
        font-size: 3rem;
    }

    .logo, .logo img{
        position:unset;
        left: unset;
        top: unset;
        transform: unset;
        height: 65px;
    }

    .header-nav-left{
        margin-left: 26px;
        gap: 13px;
    }

    .header-nav-right{
        flex-direction: row;
        margin-right: 10px;
    }

    .mobile-notification{
        display: none;
    }

    .icon-elements, .icon-elements ol{
        display: flex;
        gap: 23px;
    }

    .settings, .icon-elements ol li{
        font-size: 4rem;
        cursor: pointer;
    }

    nav{
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: space-between;
    }

    .profile, .profile img{
        height: 64px;
        width: 64px;
        cursor: pointer;
    }
}

@media(min-width: 830px)
{
    .bottom-container{
        display: block;
    }
}

@media(min-width: 1000px)
{
    .search-bar{
        min-width: 450px;
    }
}

@media(min-width: 1350px)
{
    nav{
        justify-content: flex-start;
    }

    .header-nav-middle{
        display: unset;
        margin-left: 22px;
    }

    .text-elements ol{
        display: flex;
        font-size: 3rem;
        gap: 35px;
    }

    .text-elements ol li{
        word-spacing: -0.25em;
        cursor: pointer;
    }

    .text-elements ol li i{
        margin-right: 10px;
    }

    .text-elements ol li span, .text-elements ol li i{
        word-spacing: normal;
    }

    .text-elements ol li:hover{
        text-decoration: underline;  
    }

    .header-nav-right{
        margin-left: auto;
    }

    /* bottom */

    .search-bar{
        min-width: 800px;
    }
}