/* CSS RESET és alapok */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
}

body, html {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    background-color: #E5E5E5;
    color: black;
}

:root{
    --size-of-seperator-box: 21.56px;
    --size-of-medium-seperator-box: 53.33px;
    --half-size-of-seperator-box: calc(var(--size-of-seperator-box)/2);
    --scale: 1;
}

/* CSS RESET és alapok */

/* Container */

.container{
    width: max-content;
    margin: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: transparent;
    text-align: center;
}

footer{
    background-color: #fff;
}

/* Container */

/* Seperator */


section.seperator{
    width: 100%;
    height: 38px;
    background-color: #1A1A1A;
    display: flex;
    overflow: hidden;
}

.seperator-line{
    display: flex;
    transform: translateX(-10.78px);
    gap: 0;
    position: relative;
}

.seperator-line.bottom-line{
    top: 19px;
}

.seperator-line:nth-of-type(2),
.seperator-line:nth-of-type(7){
    left: calc(var(--half-size-of-seperator-box)*8*var(--scale));
}

.seperator-line:nth-of-type(3),
.seperator-line:nth-of-type(8){
    left: calc(var(--half-size-of-seperator-box)*8*2*var(--scale));
}

.seperator-line:nth-of-type(4),
.seperator-line:nth-of-type(9){
    left: calc(var(--half-size-of-seperator-box)*8*3*var(--scale));
}

.seperator-line:nth-of-type(5),
.seperator-line:nth-of-type(10){
    left: calc(var(--half-size-of-seperator-box)*8*4*var(--scale));
}

.colored-box{
    width: 21.56px;
    height: 19px;
    position: absolute;
}

.top-line
.colored-box:nth-of-type(even){
    rotate: -180deg;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    z-index: 2;
}

.top-line
.colored-box:nth-of-type(odd){
    z-index: 1;
}

.bottom-line
.colored-box:nth-of-type(odd){
    rotate: -180deg;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    z-index: 2;
}

.bottom-line
.colored-box:nth-of-type(even){
    z-index: 1;
}

.dark-gray{
    background-color: #1A1A1A;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    width: 22px;
}

.top-line:first-of-type
.dark-gray{
    clip-path: polygon(50% 0%, 100% 100%, 50% 100%)!important;
    left: 0;
}

.green-1{
    background-color: #1A7547;
    left: calc(var(--half-size-of-seperator-box)*var(--scale));
}

.green-2{
    background-color: #006633;
    left: calc(var(--half-size-of-seperator-box)*2*var(--scale));
}

.green-3{
    background-color: #4C9D34;
    left: calc(var(--half-size-of-seperator-box)*3*var(--scale));
}

.green-4{
    background-color: #55AE3A;
    left: calc(var(--half-size-of-seperator-box)*4*var(--scale));
}

.light-gray{
    background-color: #E5E5E5;
    left: calc(var(--half-size-of-seperator-box)*5*var(--scale));
}

.white{
    background-color: white;
    left: calc(var(--half-size-of-seperator-box)*6*var(--scale));
}

.black{
    background-color: black;
    z-index: -2;
    left: calc(var(--half-size-of-seperator-box)*7*var(--scale));
}

.top-line:last-of-type
.black::after{
    position: absolute;
    display: block;
    content: '';
    background-color: yellow;
    right: 20px;
    top: 0;
    width: 200px;
    height: 200px;
    z-index: 3;
}

.bottom-line
.green-2{
    left: 0;
}

.bottom-line
.green-1{
    left: calc(var(--half-size-of-seperator-box)*var(--scale));
}

.bottom-line
.green-4{
    left: calc(var(--half-size-of-seperator-box)*2*var(--scale));
}

.bottom-line
.green-3{
    left: calc(var(--half-size-of-seperator-box)*3*var(--scale));
}

.bottom-line
.white{
    left: calc(var(--half-size-of-seperator-box)*4*var(--scale));

}

.bottom-line
.light-gray{
    left: calc(var(--half-size-of-seperator-box)*5*var(--scale));

}

.bottom-line
.dark-gray{
    z-index: -2;
    left: calc(var(--half-size-of-seperator-box)*6*var(--scale));
}

.bottom-line
.black{
    z-index: -2;
    left: calc(var(--half-size-of-seperator-box)*7*var(--scale));
}


/* Seperator */

/* Main Column */

main.columns, 
.right-side,
.top-columns{
    display: grid;
    text-align: left;
    align-items: baseline;
}

main.columns{
    display: flex;
    grid-template-columns: 1fr 2fr;
    margin: 16px 39px 0px 39px;
}

.left-side{
    margin-right: 20px;
}

.top-columns{
    grid-template-columns: 1fr 1fr;
    gap: 28px;
    margin-left: 8px;
    margin-bottom: 26px;
}

.top-columns>.column-list:last-of-type{
    margin-top: 5px;
}

.bottom-columns{
    margin-top: auto;
    text-align: center;
}

.column-list-title{
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 2px;
}

.column-list-element{
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 12px;
}

h1.follow{
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 10px;
}

div.social-media{
    display: grid;
    grid-auto-flow: column;
    gap: 8px;
    margin-bottom: 1.5px;
}

button.social-media{
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #006633;
    color: white;
    border-radius: 50%;
}

button.social-media>i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.2rem;
}

button.social-media:first-of-type>i{
    top: 60%;
    font-size: 3.2rem;
}

/* Main Column */

/* Inbuilt AD */

section.inbuilt-ad{
    width: 398px;
    height: 88px;
    margin: 16px 8px;
}

/* Inbuilt AD */

/* Sportmagazin */

section.sportmagazine{
    position: relative;
    display: none;
}

/* Sportmagazin */

/* Newsletter */

section.newsletter{
    padding: 9px 21px;
    background: #006633;
    border-radius: 4px;
    height: fit-content;
    margin-left: 10px;
    margin-right: 8px;
}

div.accept-box{
    display: none;
}

section.newsletter
h1{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
}

section.newsletter
h2{
    color: white;
    font-size: 2rem;
}

section.newsletter
input{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 44px;
    display: block;
    font-size: 1.4rem;
    padding-left: 8px;
    color: black;
}

#name{
    margin-top: 8px;
    margin-bottom: 8px;
}

section.newsletter
input::placeholder{
    color: black;
}

section.newsletter
.button{
    margin-top: 11px;
    text-align: center;
}

section.newsletter
button{
    width: 171px;
    height: 40px;
    border-radius: 44px;
    padding: 8px;
    background-color: #55AE3A;
    box-shadow: 0 1px 2px #1E1E25, 0px 2px 4px #1E1E22;
    cursor: pointer;
    transition: background-color .1s ease-in-out;
}

section.newsletter
button:hover{
    background-color: rgb(221, 50, 50);
}

section.newsletter
img{
    width: 30px;
    height: 24px;
    filter: brightness(0) invert(1);
    margin-right: 10px;
}

/* Newsletter */

/* Bottom-Side */

.bottom-side{
    margin-top: 20px;
    background-color: #006633;
    color: white;
    padding-top: 11px;
    padding-bottom: 7px;
}

.bottom-element{
    margin-bottom: 10px;
    text-decoration: underline;
    font-size: 1.2rem;
    font-weight: 400;
}

.copyright{
    margin-top: 3px;
    text-decoration: unset;
}

/* Bottom-Side */

@media(min-width: 1032px)
{
    /* Turn off unnecesseary */
    .inbuilt-ad{
        display: none;
    }
    /* Turn off unnecesseary */

    /* Seperator */

    section.seperator{
        height: 93px;
    }

    .seperator-line{
        transform: translateX(-26.665px);
    }

    .colored-box{
        width: var(--size-of-medium-seperator-box);
        height: 46.5px;
    }

    .seperator-line.bottom-line{
        top: 46.5px;
    }

    :root{
        --scale: 2.473;
    }

    /* Seperator */
    
    
    /* Main Column */

    main.columns{
        margin: 47px 134px 0 134px;
    }

    .column-list-title{
        font-size: 3.2rem;
        margin-bottom: 22px;
    }
    
    .column-list-element{
        font-size: 2.4rem;
        margin-left: 25px;
    }

    .left-side{
        margin-right: 103px;
    }

    .top-columns{
        gap: 100px;
    }

    h1.follow{
        font-size: 3.2rem;
        text-align: left;
        margin-bottom: 0;
    }

    div.social-media{
        display: flex;
    }

    button.social-media{
        width: 60px;
        height: 60px;
        transition: background-color 100ms ease-in;
    }

    button.social-media:hover{
        background-color:rgb(221, 50, 50);
        cursor: pointer;
    }

    button.social-media:first-of-type>i{
        font-size: 4.8rem;
        top: 62%;
    }

    button.social-media>i{
        font-size: 3.2rem;
    }
    
    /* Main Column */

    /* Sportmagazin */

    section.sportmagazine{
        display: block;
        background-color: #006633;
        margin: 20px 134px;
        width: 756.5px;
        height: 425px;
        overflow: hidden;
    }

    img.crest{
        height: 100px;
        position: absolute;
        top: 37px;
        left: 23.5px;
        z-index: 2;
        transform: translateX(-25%);
    }

    h3.marketing-text{
        font-size: 2.6rem;
        font-weight: 700;
        width: 255px;
        color: #55AE3A;
        position: absolute;
        left: 378px;
        top: 145px;
        z-index: 2;
    }

    span.marketing-inside{
        color: white;
    }

    img.background-player{
        width: 540px;
        height: 425px;
        object-fit: cover;
        position: absolute;
        left: -19px;
        z-index: 1;
        filter: brightness(0.65); /* Olvashatóság érdekében */
    }

    button.marketing-show{
        position: absolute;
        width: 175px;
        height: 51.8px;
        background-color: #FFE600;
        border-radius: 8px;
        font-size: 2.6rem;
        font-weight: 700;
        left: 407px;
        top: 252px;
        z-index: 2;
        transition: background-color 100ms ease-in, color 100ms ease-in;
    }

    button.marketing-show:hover{
        background-color:rgb(221, 50, 50);
        color: white;
        cursor: pointer;
    }

    .sport-left{
        position: absolute;
        left: -0.5px;
        z-index: 2;
        width: 162.5px;
        height: 360px;
        background-color: #006633;
        clip-path: polygon(0 0, 100% 0%, 5% 100%, 0 100%);
    }

    .sport-right{
        z-index: 2;
        position: absolute;
        right: 0;
        width: 468px;
        height: 425px;
        clip-path: polygon(39% 0, 100% 0, 100% 100%, 0 100%);
        background-color: #006633;
    }

    .triangle{
        position: absolute;
        background-color: rgba(85, 174, 58, .3);
        transform: rotate(19.69deg);
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        z-index: 3;
    }

    .triangles
    .size-1{
        width: 21.16px;
        height: 21.16px;
        top: 50px;
        left: 427.01px;
    }

    .triangles
    .size-2{
        width: 64.92px;
        height: 64.92px;
        top: 5px;
        left: 431px;
    }

    .triangles
    .size-3{
        width: 42.02px;
        height: 42.02px;
        top: 25px;
        left: 454px;
    }

    .triangles
    .size-4{
        width: 24.8px;
        height: 24.8px;
        top: 3px;
        left: 482px;
    }

    /* Sportmagazin */

    /* Newsletter */

    section.newsletter{
        margin-inline: 134px;
        padding-top: 38px;
        padding-bottom: 38px;
        border-radius: 16px;
    }

    section.newsletter
    h1{
        font-size: 3.2rem;
    }

    section.newsletter
    img{
        width: 50px;
        height: 40px;
        animation-duration: 1s;
        animation-iteration-count: 1;
        transform-origin: bottom;
    }

    section.newsletter
    img:hover{
        animation-name: rotateImg;
        animation-timing-function: ease;
    }

    @keyframes rotateImg{
        0% { transform: rotate(0deg); }
        25% { transform: rotate(25deg); }
        75%  { transform: rotate(-25deg); }
        100%  { transform: rotate(0deg); }
    }

    section.newsletter
    input{
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
        margin-top: 20px;
        padding-left: 12px;
        font-size: 2.9rem;
    }

    section.newsletter
    .accept-box{
        display: flex;
        position: relative;
        height: 18px;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 12px;
    }
    
    section.newsletter
    input[type=checkbox]{
        width: 18px;
        height: 18px;
        margin-right: 3px;
        opacity: 0;
        display: inline-block;
    }
    
    section.newsletter
    label.toggle{
        cursor: pointer;
        display: flex;
        align-items: center;
    }
        
    section.newsletter
    span.box{
        width: 18px;
        height: 18px;
        display: block;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        background-color: transparent;
        border: 3px solid white;
        transition: background-color .1s ease-in-out, border-color .1s ease-in-out;
    }
        
    section.newsletter
    span.box::before{
        content:'\2713';
        font-size: 1.4rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        color: white;
        transition: opacity .1s ease-in-out;
        font-weight: bold;
    }
        
    section.newsletter
    input[type=checkbox]:checked + span.box{
        background-color: rgb(221, 50, 50);
        border-color: rgb(221, 50, 50);
    }
        
    section.newsletter
    input[type=checkbox]:checked + span.box::before{
        opacity: 1;
    }

    section.newsletter
    h3{
        font-weight: 400;
        color: white;
        display: inline-block;
    }
    
    section.newsletter
    span.accept{
        font-weight: 700;
        text-decoration: underline;
        font-size: 1.4rem;
    }

    section.newsletter 
    button{
        width: 220px;
        height: 48px;
        display: flex;
        margin-inline: auto;
        align-items: center;
    }
    
    section.newsletter
    button h2{
        font-size: 3.1rem;
        width: max-content;
        display: flex;
        align-items: center;
    }

    section.newsletter
    i.fa.fa-bell{
        font-size: 2.2rem;
        margin-right: 9px;
    }

    /* Newsletter */

    /* Bottom-Side */

    section.bottom-side{
        padding-top: 18px;
        padding-bottom: 20px;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .bottom-element{
        font-size: 2.6rem;
    }
    
    ul.bottom-elements{
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    
    li.bottom-element{
        width: max-content;
        display: inline-block;
        margin: 0;
        text-decoration: none;
    }

    span.copyright{
        margin-top: 16px;
    }

    /* Bottom-Side */

}
    
    

@media(min-width: 1920px)
{
    
    footer{
        display: flex;
        flex-direction: column;
    }
    
    section.content{
        display: flex;
        flex-direction: row;
        margin: 86px 25px 86px 26px;
        gap: 38px;
    }

    main.columns, 
    section.sportmagazine,
    section.newsletter{
        margin: 0;
    }
    
    /* Seperator */
    
    .colored-box{
        width: 100px;
        height: 87px;
    }
    
    :root{
        --scale: 4.638;
    }
    
    section.seperator{
        height: 174px;
    }
    
    .seperator-line.bottom-line{
        top: 87px;
    }
    
    .seperator-line{
        transform: translateX(-50px);
    }
    
    /* Seperator */


    /* Main */

    .columns,
    .top-columns{
        gap: 74px;
    }

    .left-side{
        margin-right: 0;
        width: 153px;
    }

    .right-side{
        margin-left: 0;
        width: 468.5px;
    }

    button.social-media{
        width: 80px;
        height: 79.52px;
    }

    button.social-media:first-of-type>i{
        font-size: 6.45rem;
    }

    button.social-media>i{
        font-size: 4.3rem;
    }

    /* Main */

    /* Sportmagazine */

    section.sportmagazine{
        width: 640.5px;
        height: 360px;
    }

    img.background-player{
        height: 360px;
        transform: rotateY(180deg);
    }

    .sport-left{
        clip-path: polygon(0 0, 100% 0%, 10% 100%, 0 100%);
    }
    
    .sport-right{
        width: 352px;
        height: 360px;
    }
    
    h3.marketing-text{
        left: unset;
        right: 7px;
    }

    button.marketing-show{
        left: unset;
        right: 48px;
    }

    /* Sportmagazine */


    /* Newsletter */

    section.newsletter{
        width: 457px;
        height: 360px;
    }
    
    section.newsletter 
    input{
        border-radius: 4px;
    }

    section.newsletter 
    .button{
        margin-top: 28px;
    }

    section.newsletter 
    .accept-box{
        margin-top: 10px;
    }
    
    /* Newsletter */

    /* Bottom-Side */

    ul.bottom-elements{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
    }

    li.bottom-element{
        width: 100%;
        font-size: 4rem;
    }

    span.bottom-element{
        font-size: 3.2rem;
        margin-top: 21px;
        margin-bottom: 0;
    }

    section.bottom-side{
        padding-top: 14px;
        padding-bottom: 16px;
    }
    /* Bottom-Side */

    

}