/* CSS RESET és alapok */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
}

body, html {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    background-color: #E5E5E5;
    color: white;
}

/* CSS RESET és alapok */

/* Container */

.container{
    width: max-content;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

section.login-panel{
    background-color: white;
    border-radius: 8px;
    padding-top: 60px;
    padding-bottom: 54px;
}
/* Container */

/* Welcome Titles */

.welcome{
    color: black;
}

h1{
    font-size: 3rem;
    font-weight: 700;
}

h2{
    font-size: 1.7rem;
    font-weight: 400;
}


/* Welcome Titles */

/* Switch Panel */

.switch-panel{
    display: flex;
    justify-content: center;
    margin-top: 21px;
}

.switch-panel button{
    width: 133px;
    height: 36px;
    background-color: #006633;
    border: 1px solid #55AE3A;
    color: white;
    border-radius: 0px 44px 44px 0px;
    text-transform: uppercase;
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    cursor: pointer;
    transition: background-color .2s ease-in-out,
                border-color .2s ease-in-out,
                color .2s ease-in-out;
}

.switch-panel button:hover{
    background-color: #EF3A43;
    border-color: #EF3A43;
    color: white;
}


.switch-panel .login{
    border-left: unset;
}

.switch-panel .register{
    background-color: white;
    color: #006633;
    border-radius: 44px 0px 0px 44px;
    border-right: unset;
}

/* Switch Panel */

/* Form */

.form{
    margin-top: 29px;
    font-size: 1.6rem;
    position: relative;
}

input[type="email"], #password{
    display: block;
    width: 266px;
    height: 36px;
    border-radius: 44px;
    border: 1px solid #006633;
    color: #55AE3A;
    padding-left: 6px;
    margin-inline: auto;
}

#password{
    margin-top: 33px;
    margin-bottom: 2px;
}

input[type="email"]::placeholder, #password::placeholder{
    color: #55AE3A;
}

input[type="email"]:invalid{
    border-color: #EF3A43;
}

input[type="email"]:invalid + #invalid-email{
    display: block;
    color: #EF3A43;
    position: absolute;
    top: 38px;
    left: 24px;
    font-size: 1.4rem;
}

.password-container{
    position: relative;
}

#eye{
    font-size: 1.5rem;
    color: #55AE3A;
    position: absolute;
    right: 26.5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: color .1s ease-in-out;
}

.eye-animation{
    color: #EF3A43!important;
}

#invalid-email{
    display: none;
}

.forgetpassword{
    display: block;
    color: black;
    text-align: left;
    margin-left: 8.5px;
}


.forgetpassword:hover{
    text-decoration: underline;
}

div.rememberme{
    color: black;
    margin-top: 65px;
    text-align: left;
    margin-left: 14px;
    position: relative;
}

span.rememberme{
    position: absolute;
    left: 45px;
    height: 20px;
    width: max-content;
    cursor: pointer;
}

.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}
  
#checkbox{
    display:none;
}
  
.slider {
    background-color: #BFBFBF;
    position: absolute;
    transition: background-color .3s ease-in-out;
    width: 33px;
    height: 20px;
    border-radius: 34px;
    cursor: pointer;
}
  
  .slider:before {
    background-color: #55AE3A;
    content: "";
    height: 26px;
    position: absolute;
    transition: transform .3s ease-in-out;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
  
  input:checked + .slider {
    background-color: #6A6A6A;
}
  
  input:checked + .slider:before {
    transform: translateX(13px);
}



/* Form */

/* Choose button */

section.choose{
    margin-top: 18px;
}

button.proceed-login{
    position: relative;
    width: 260px;
    height: 40px;
    border-radius: 44px;
    background-color: #006633;
    font-size: 1.4rem;
    width: 260px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    font-family: "Work Sans", sans-serif;
    text-align: center;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

button.proceed-login:hover{
    background-color: #EF3A43;
}



/* Choose button */

/* Divider */

section.divider{
    width: 100%;
    margin-top: 15px;
}

span.divider{
    color: #55AE3A;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    width: 100%;
}

section.divider::before, section.divider::after{
    content: "";
    width: 116px;
    border-bottom: 1px solid #55AE3A;
    height: 0px;
    display: inline-block;
    background-color: #55AE3A;
    margin-right: 18px;
    margin-left: 1px;
    vertical-align: middle;
}

span.divider::after{
    margin-right: 1px;
    margin-left: 18px;
}

/* Divider */

/* Brands */

.different-login{
    margin-top: 16px;
    display: flex;
    gap: 14px;
    justify-content: center;
}

button.different{
    width: 38px;
    height: 38px;
    background-color: #006633;
    color: white;
    border-radius: 44px;
    font-size: 2.4rem;
    position: relative;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

button.different:hover{
    background-color: #EF3A43;
}

button.different i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}



/* Brands */