/* CSS RESET és alapok */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
}

body, html {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    background-color: #E5E5E5;
    color: black;
}

/* CSS RESET és alapok */

/* Container */

.container{
    width: max-content;
    margin: 1rem auto 0 auto;
}

/* Container */
