/* CSS RESET és alapok */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
}

body, html {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    background-color: #E5E5E5;
    color: white;
}

/* CSS RESET és alapok */

/* Container */

.container{
    width: max-content;
    margin: 0 auto;
}

header{
    width: 100vw;
    background: #006633;
    font-size: 3rem;
}

nav{
    display: flex;
    padding-top: 6px;
    padding-bottom: 6px;
    align-items: center;
}

ol{
    display: flex;
}

/* Container */


/* Nav */

.logo img{
    height: 65px;
}

.profile, .profile img{
    height: 64px;
    width: 64px;
    border-radius: 50%;
    border: 1px solid #F2F2F2;
}

/* Nav */