/* CSS RESET és alapok */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
}

body, html {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    background-color: #E5E5E5;
    color: white;
}

/* CSS RESET és alapok */

/* Container */

.container{
    width: max-content;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Container */

/* image */

.image, .image img{
    width: 298px;
    height: 168px;
}

/* image */


/* line */

.line{
    display: flex;
    background-color: #006633;
    height: 24px;
    font-size: 1.2rem;
}

.line-right{
    margin-left: auto;
}

.line-left{
    display: flex;
}

div.date{
    margin-right: 5px;
    font-weight: 700;
}

.line-left>div, .line-right>div, .cat{
    height: 100%;
    display: table;
}

.inside-content{
    display: table-cell;
    vertical-align: middle;
}

.cat{
    background: white;
    color: black;
    transform: skew(-35deg);
    margin-left: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

i.category, span.category{
    display: inline-block;
    transform: skew(35deg)
}

div.length{
    margin-left: 10px;
}

span.length::after{
    content: " min";
}


/* line */


/* article */

article{
    display: grid;
    background: #fff;
    grid-template-columns: auto auto;
    width: 298px;
}

img.author{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 4px;
    margin-left: 8px;
}

h1.title{
    font-size: 1.4rem;
    color: black;
    text-transform: uppercase;
    font-weight: 900;
    text-align: left;
    margin: 6px 12px 6px 5px;
    hyphens: manual;
    letter-spacing: -0.04em;
}

h1.title>.first-line{
    margin-right: 4rem;
}

p.article{
    display: none;
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 6px;
}

/* article */



/* MEDIUM SIZE */

section.little-card{
    display: none; /* idg */
}

section.medium-card .image, 
section.medium-card .image>img{
    width: 614px;
    height: 310.45px;
}

section.medium-card img.author{
    border: 2px solid #006633;
    margin: 0;
}

section.medium-card div.author{
    margin: auto 10px auto 8px;
}
section.medium-card .line{
    height: 38px;
}

section.medium-card article{
    width: 614px;
    display: flex;
    flex-wrap: wrap;
}

section.medium-card h1.title{
    width: 503px;
    max-width: 503px;
    letter-spacing: unset;
    font-weight: 900;
    font-size: 3rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-left: 0;
    hyphens: none;
}

section.medium-card p.article{
    display: block;
    color: black;
    grid-column: span 2;
    text-align: justify;
    margin-inline: 8px;
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

section.medium-card .cat{
    height: calc(100% + 2px);
    margin-top: -1px;
}

/* MEDIUM SIZE */


/* WIDE CARD */


/* WIDE CARD */