/* CSS RESET és alapok */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
}

body, html {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    background-color: white;
}

/* CSS RESET és alapok */

/* Container */

.container{
    position: relative;
    width: max-content;
    margin: auto;
    padding: unset;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: transparent;
    text-align: center;
    flex-flow: column;
    transform: unset;
    left: unset;
    top: unset;
}

/* Menu */

.menu{
    width: max-content;
    margin: 0 auto;
    color: white;
}

/* Menu */

/* Main Content */


main.content{
    display: flex;
    flex-flow: row;
    color: black;
    margin: 24px auto 46px auto;
}

/* Left Side */
/* Left Side */


/* Right Side */

section.top-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 16px;
}

section.medium-card{
    grid-column: span 2;
    grid-row: span 2;
}

section.bottom-row{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

section.bottom-row
.bottom-row-left-column,
section.bottom-row
.bottom-row-right-column{
    display: flex;
    flex-flow: column;
}

/* Right Side */

/* Main Content */