/* CSS RESET és alapok */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
}

body, html {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    background-color: white;
    max-width: 100%;
    overflow-x: hidden;
    min-width: 500px;
}

/* CSS RESET és alapok */

/* Container */

.container{
    all: unset;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: transparent;
    text-align: center;
    flex-flow: column;
}

/* Menu */

.menu{
    width: 100%;
    margin: 0 0;
    color: white;
}

header{
    width: 100%;
}

.header-nav-right{
    margin-right: 30px;
}

.mobile-notification{
    display: none;
}


/* Menu */

/* Main Content */


main.content{
    display: flex;
    flex-flow: row;
    color: black;
    margin: 16px auto 46px auto;
    gap: 100px;
}


/* Left Side */

section.profile-card 
section.profile{
    padding-top: 8px;
}

/* Left Side */


/* Right Side */

section.top-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 16px;
    row-gap: 15px;
    column-gap: 18px;
    margin-top: 4px;
}

section.medium-card{
    grid-column: span 2;
    grid-row: span 2;
}

section.bottom-row{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 18px;
    margin-top: 4px;
}

section.bottom-row
.bottom-row-left-column,
section.bottom-row
.bottom-row-right-column{
    display: flex;
    flex-flow: column;
    row-gap: 18px;
}

.content-right-side
h3.block-title{
    font-size: 3.2rem;
}

div.length,
div.date{
    color: white;
}

/* Right Side */

/* Main Content */

/* Footer */

ul.bottom-elements>li{
    color: white;
}

.bottom-element-text:hover{
    cursor: pointer;
    text-decoration: underline;
}

footer{
    width: 100%;
}

footer
section.content{
    align-items: center;
    margin-inline: auto;
}

.inbuilt-ad{
    display: none;
}

main.columns{
    margin-bottom: 2rem;
    justify-content: center;
}

section.newsletter{
    width: 300px;
    margin-inline: auto;
}

section.seperator{
    clip-path: polygon(0 0, 50% 0, 40% 100%, 0% 100%);
}

.column-list-title,
.column-list-element,
h1.follow{
    color: black;
}

section.newsletter 
label.toggle{
    height: 100%;
}

/* Footer */


@media(max-width: 1500px)
{
    main.content{
        flex-flow: column;
    }

    .content-left-side{
        width: max-content;
        margin-inline: auto;
    }

    .content-right-side
    h3.block-title{
        font-size: 2.8rem;
    }

}

@media(max-width: 980px)
{
    section.top-row{
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        column-gap: 0;
    }

    section.bottom-row{
        display: flex;
        flex-flow: column;
        row-gap: 1rem;
    }

    .bottom-row-right-column{
        flex-flow: row!important;
        justify-content: center;
        column-gap: 2rem;
    }

    .content-right-side
    h3.block-title{
        font-size: 2.5rem;
    }
}

@media(max-width: 620px)
{
    section.wide-card,
    section.medium-card{
        display: none;
    }

    .bottom-row-right-column{
        flex-flow: column!important;
        margin-inline: auto;
    }

    section.top-row{
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .content-right-side
    h3.block-title{
        font-size: 2rem;
    }
}

@media(min-width: 620px)
{
    .column-list-title{
        font-size: 1.8rem;
    }

    .column-list-element{
        font-size: 1.6rem;
    }

    h1.follow{
        font-size: 2rem;
    }

}

@media(min-width: 1032px)
{
    .column-list-title{
        font-size: 2.5rem;
    }

    .column-list-element{
        font-size: 2.2rem;
    }

    h1.follow{
        font-size: 2.8rem;
    }

    section.newsletter{
        width: 50%;
    }

    section.sportmagazine{
        margin-inline: auto;
    }
}

@media(min-width: 1920px)
{
    section.newsletter{
        width: max-content;
    }

    .column-list-title{
        font-size: 3.2em;
    }

    .column-list-element{
        font-size: 2.6rem;
    }

    h1.follow{
        font-size: 3.5rem;
    }

    div.social-media{
        display: grid;
        grid-auto-flow: unset;
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: auto;
        justify-items: center;
        margin-top: 1rem;
    }
}
