/* CSS RESET és alapok */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
}

body, html {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    background-color: #E5E5E5;
    color: black;
}

/* CSS RESET és alapok */

/* Container */

.container{
    background: white;
    margin: 0;
    padding: 0;
    height: 120px;
}

section.notification{
    display: flex;
    align-items: center;
}

/* Container */

/* Image */
img{
    width: 120px;
    height: 120px;
}
/* Image */

/* Text */
.text{
    margin-left: 14.97px;
}
h1.notification-message{
    font-size: 2.8rem;
    font-weight: 700;
    width: 620px;
}
/* Text */

/* Date */
h2.date{
    font-size: 2rem;
    font-weight: 700;
    margin-right: 77px;
    word-spacing: 1rem;
}
/* Date */

/* Buttons */

.buttons{
    display: flex;
    gap: 28px;
}

button{
    padding: 4px 8px 4px 8px;
    width: 56px;
    height: 56px;
    background-color: #006633;
    border-radius: 50%;
    color: white;
    font-size: 3.3rem;
    cursor: pointer;
    transition: background-color .2s ease;
}

button.list{
    background-color: #DF7E24;
}

button:hover{
    background-color: blue;
}

/* Buttons */
